<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myproject.livwell">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Livwell">
        <activity
            android:name=".usernominees_will_Activity"
            android:exported="false" />
        <activity
            android:name=".Bank_ResultActivity"
            android:exported="false" />
        <activity
            android:name=".empty_Activity4"
            android:exported="false" />
        <activity
            android:name=".empty_activity3"
            android:exported="false" />
        <activity
            android:name=".empt_Activity2"
            android:exported="false" />
        <activity
            android:name=".empty_Activity"
            android:exported="false" />
        <activity
            android:name=".Stocks_Activity"
            android:exported="false" />
        <activity
            android:name=".Mutualfunds_Activity"
            android:exported="false" />
        <activity
            android:name=".Splashscreen_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Nominees_Activity"
            android:exported="false" />
        <activity
            android:name=".bankaccounts"
            android:exported="false" />
        <activity
            android:name=".Signin_Activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>